body{
    background-image: url(./bg1.jpg);
    filter: blur(3%);
    background-repeat: no-repeat;
}
.parant{
    display: flex;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #000000d1;
    flex-flow: row wrap;
 
   
}



.box{
    border-radius: 5px;
    height: 170px;
    width: 300px;
    background-color: white;
}
.learn{
    border: 1px solid #808080ab;
    width: 80%;
    height: 20px;
    position: relative;
    top: 15px;
    left: 10px;
}
.add{
    color: white;
    background-color: #0340ed;
    border-radius: 3px;
    position: relative;
    top: 55px;
    right: 90px;
    height: 25px;
    
}
@media(max-width:480px){
    .parant{
        flex-direction: column wrap;
    }
    .add{
        position:absolute;
        top: 355px;
        right: 65px;
    }
}